:root{
    --siteColor:#FF685E;
    --siteDark:#2A2A2A;
    --secondaryColor:#01A4ED;
}

.btn-site{
    background-color: var(--siteColor);
}

.btn-secondary-site{
    background-color: var(--secondaryColor);
}


.fs-9{
    font-size: .9rem;
}

.w-88{
    width:88%;
}

nav{
    z-index:500;
}
.text-site-dark{
    color:var(--siteDark);
}
.text-site{
   color:var(--siteColor);
}
.text-site-secondary{
    color:var(--secondaryColor);
}
.navbar-nav .nav-link.active,nav ul li:hover .nav-link{
    color:var(--siteColor);
}

.contact-btn:hover{
    background-color: var(--secondaryColor);
}

.contact-secondary-btn:hover{
    background-color: var(--siteColor);
}

.w-80{
    width:80%;
}

.rounded-medium{
    border-radius:1rem;
}

.border-Card{
    border-color:#EEEEEE;
}

#Home {
    height:75vh;
    padding-top:7vh;
    background-image:url("../images/baner-dec-left.png");
    background-repeat: no-repeat;
    background-position: center left;
}

.homeH1{
    height:auto;
}


/* Slideshow container */
#Home .slideshow-container {

    position: relative;
    margin: auto;
}

/* Hide the images by default */
#Home .mySlides {
  display: none ;
}

/* The dots/bullets/indicators */
#Home .dot {
  cursor: pointer;
  margin: 0 2px;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#Home .dots{
    position:absolute;
    left:10%;
}

#Home .dot-active{
    color:var(--siteColor);
    border-bottom:2px solid var(--siteColor);
}

/* Fading animation */
#Home .fadek {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fadek {
  from {opacity: .4}
  to {opacity: 1}
}

/* end of Home SECTION */
#Services{
    background-image: url('../images/services-left-dec.png'),url('../images/services-right-dec.png');
    background-repeat: no-repeat;
    background-position: top left , bottom right;
   
}

#Services .carousel-indicators,#Portfolio .carousel-indicators{
bottom:-80px;
}

#Services .carousel-indicators [data-bs-target],#Portfolio .carousel-indicators [data-bs-target]{
    background-color: var(--siteColor);
    opacity: 25%;
    width:10px;
    height:10px;
    border-radius:50%;
}

#Services .carousel-indicators .active,#Portfolio .carousel-indicators .active{
    opacity:1;
}



#Portfolio {
    background-image: url("../images/portfolio-left-dec.png");
    background-repeat: no-repeat;
    background-position: 30px 50px;
}

.hoverCardImage{
    background-image: url('../images/hover-bg.png');
    background-size: cover;
    height:200px;
    width:200px;
    border-radius:20px 0px;
    right:20px;
    bottom:-500px;
    transition: all 1s;
}
.parent:hover .hoverCardImage{
    bottom:20px;
}

#Plans{
    background-image: url("../images/tables-left-dec.png"),url("../images/tables-right-dec.png");
    background-repeat: no-repeat,no-repeat;
    background-position: top left ,bottom right;
}
.planCard1{
    background-image: url('../images/first-plan-bg.png');
    background-repeat: no-repeat;
    background-position:-20px left;
}

.planCard2{
    background-image: url('../images/second-plan-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top 0px -13px;
}

.planCard3{
    background-image: url("../images//third-plan-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0px;
}

.Subscribe .container{
    background-image:url("../images/subscribe-bg.png");
    background-size:cover;
    border-radius: 1rem;
}

.subImage{
    right: -21px;
    top: -35px;
}
.bg-child{
    background-color: #fff;
    border-radius:1rem;
    padding:1rem .3rem;  
}

.bg-parent{
    width:100%;
    font-size:.6rem;
    padding:.2rem;
}
.btn-sub{
    background-color: var(--siteColor);
}

@media screen and (min-width:768px){

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }


    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
    }
}


@media screen and (min-width:992px){
    #Home {
        height:98vh;
        padding-top:0;
    }
    .homeH1{
        height:100%;
    }

    .planCard1{
        background-position:0px -16px;
    }
    
    .planCard2{
        background-size: cover;
        background-position:center 60%;
    }
    
    .planCard3{
        background-size: cover;
        background-position: center center;
    }

    #Plans{
        background-position: top left ,center right;
    
    }

    .bg-parent{
        background-color: #fff;
        width:88%;
        font-size:1.2rem;
        padding:1rem;
    }

    .bg-child{
        background-color: transparent;
        border-radius:0;
        padding:0;
    }

    .btn-sub{
        background-color: var(--secondaryColor);
    }

}