:root{
    --siteColor:#FF685E;
    --siteDark:#2A2A2A;
    --secondaryColor:#01A4ED;
}

.btn-site{
    background-color: var(--siteColor);
}

.btn-secondary-site{
    background-color: var(--secondaryColor);
}


.fs-9{
    font-size: .9rem;
}

.text-site-dark{
    color:var(--siteDark);
}
.text-site{
   color:var(--siteColor);
}
.text-site-secondary{
    color:var(--secondaryColor);
}
.navbar-nav .nav-link.active,nav ul li:hover .nav-link{
    color:var(--siteColor);
}

.contact-btn:hover{
    background-color: var(--secondaryColor);
}

.contact-secondary-btn:hover{
    background-color: var(--siteColor);
}

.w-80{
    width:80%;
}

.rounded-medium{
    border-radius:1rem;
}

.border-Card{
    border-color:#EEEEEE;
}

#Home {
    height:75vh;
    padding-top:7vh;
    background-image:url("../images/baner-dec-left.png");
    background-repeat: no-repeat;
    background-position: center left;
}

.homeH1{
    height:auto;
}


/* Slideshow container */
.slideshow-container {

    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none ;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  margin: 0 2px;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots{
    position:absolute;
    left:10%;
}

.dot-active{
    color:var(--siteColor);
    border-bottom:2px solid var(--siteColor);
}

/* Fading animation */
.fadek {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fadek {
  from {opacity: .4}
  to {opacity: 1}
}

/* end of Home SECTION */
#Services{
    background-image: url('../images/services-left-dec.png'),url('../images/services-right-dec.png');
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}

#Services .carousel-indicators{
bottom:-80px;
}

#Services .carousel-indicators [data-bs-target]{
    background-color: var(--siteColor);
    opacity: 25%;
    width:10px;
    height:10px;
    border-radius:50%;
}

#Services .carousel-indicators .active{
    opacity:1;
}
@media screen and (min-width:768px){

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }


    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
    }
}


@media screen and (min-width:992px){
    #Home {
        height:98vh;
        padding-top:0;
    }
    .homeH1{
        height:100%;
    }

}